/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
/resources/public/app.js
/resources/public/cljs/core.cljs
/resources/public/cljs/core.js
/resources/public/nervtoeter/core.js
.bin